body {
  background-color: #fff;
  font-family: arial, sans-serif;
}

.container {
  padding-top: 20px;
  min-height: 100%;
  position: relative;
  margin: 0 auto;
}

.top-bar {
  display: block;
  width: 100%;
  height: 30px;
}

.top-bar ul {
  float: right;
  padding: 0 30px;
  margin: 0;
}

.top-bar ul li {
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}

.top-bar ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.products-icon {
  background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
  background-position: -132px -38px;
  background-size: 528px 68px;
  opacity: 0.68;
  height: 32px;
  width: 32px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  background-image: url("https://lh3.googleusercontent.com/ogw/ADGmqu9lQH8rZkmnfDTLTnV2lRQMV9C_oBv2oz3oahZOJA=s32-c-mo");
  background-size: 32px 32px;
  border-radius: 50%;
}

.central-container {
  text-align: center;
  background-color: #fff;
}

.googlelogo {
  margin-top: 200px;
  margin-bottom: 20px;
}

.searchbar {
  margin: 0 auto;
  width: 575px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
}


.search {
  height: 45px;
  border: none;
  width: 500px;
  font-size: 16px;
  outline: none;
}
.mic {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  position: relative;
}

.button {
  margin-top: 30px;
}

.buttons {
  border: none;
  color: #707070;
  font-size: 15px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  outline: none;
}


